<div class="header-row">
  <div class="redirection">
    <div>Slug</div>
    <div class="url">URL</div>
    <div class="original-url">Original URL</div>
    <div class="edit"></div>
    <div class="block-button"></div>
    <div class="unlink-button"></div>
  </div>
</div>

<% @redirections.each do |redirection| %>
  <div class="redirection" data-id="<%= redirection.id %>">
    <div>
      <label>Slug</label>
      <span class="content"><%= redirection.slug %></span>
    </div>
    <div class="url">
      <label>URL</label>
      <span class="content"><%= link_to redirection.url, redirection.url %></span>
    </div>
    <div class="original-url">
      <label>Original URL</label>
      <%= link_to redirection.original_url, redirection.original_url %>
    </div>
    <div class="edit">
      <%= link_to "Edit", edit_admin_redirection_path(redirection) %>
    </div>
    <div class="block-button">
      <%= button_to "Block and unlink", admin_redirection_blocks_path(redirection) %>
    </div>
    <div class="unlink-button">
      <%= button_to "Unlink", admin_redirection_unlinks_path(redirection) %>
    </div>
  </div>
<% end %>
