<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="initial-scale=1" />
  <meta property="og:title" content="Hotline Webring" />
  <meta property="og:description" content="A friendly ring of cool websites. Join today!" />
  <meta name="twitter:card" value="summary" />
  <meta name="twitter:website" value="@hotlinewebring" />
  <meta name="twitter:image" value="<%= image_url("hlwr-square-black.png") %>"/>
  <%#
    Configure default and controller-, and view-specific titles in
    config/locales/en.yml. For more see:
    https://github.com/calebthompson/title#usage
  %>
  <title><%= title %></title>
  <%= stylesheet_link_tag :application, media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>">
  <%= render "flashes" -%>
  <%= yield %>
</body>
</html>
